. minhalista {
    cor : fumaça branca;
    tamanho da fonte :  30 ;
}

#menu { _
    text-align : centro;
    tamanho da fonte :  30 px ;
}

# lateral {
    flutuar : direito;
}

. listas {
    fundo : preto;
}

. imagens {
    text-align : centro;
    fundo : fumaça branca;
}

#cabecalho { _
    text-align : centro;
    fundo : amarelo- esverdeado;
    border-bottom-style : sólido;
    margem esquerda :  -8 px ;
    margem direita :  -8 px ;
    margin-top :  -8 px ;
    preenchimento :  1px ; _
}

. rodape {
    text-align : centro;
    fundo : amarelo- esverdeado;
    estilo de borda superior : sólido;
    margem esquerda :  -8 px ;
    margem direita :  -8 px ;
    margem inferior :  -30 px ;
    preenchimento :  1px ; _
}

. lista {
    cor : fumaça branca;
    tamanho da fonte :  30 ;
}

#imagem { _
    text-align : centro;
    borda :  5px ; _
    estilo de borda : sólido;
    cor da borda : azul;
    borda-topo-esquerda-raio :  25 px ;
    border-top-right-radius :  25 px ;
    border-bottom-left-radius :  25 px ;
    border-bottom-right-radius :  25 px ;
    padding-top :  20 px ;
    padding-bottom :  20 px ;
    margem esquerda :  570 px ;
    margem direita :  570 px ;
}

# ligação {
    text-align : centro;
}

p {
    cor : vermelho;
    tamanho da fonte :  30 ;

}

h1 {
    cor : azul;
    text-align : centro;
    tamanho da fonte :  50 ;
}

h2 {
    cor : verde;
    text-align : esquerda;
    tamanho da fonte :  40 ;
}
