.minhalista {
   color: blue;
   fonnt-size: 30;
}


.lista {
   color: red;
   fort-size: 30;

#imagem {
   text-aling: center;
}

#link{
   text-aling: center;
}

p {
color: red;
font-size: 30;
text-aling: left;
}

h1{
color: blue;
text-aling: center;
font-size: 50;
}

h2{
color: green;
texte-aling: right;
font-size: 40;
}
